

MONGODB_URI=mongodb://127.0.0.1:27017/fairy_tales

# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=replace_this_with_a_long_random_string

JWT_EXPIRES_IN=7d

PORT=3000

NODE_ENV=development
